<template>
    <div class="h-full bg-white p-5 rounded-3xl box-border">
        <button class="btn btn-primary" @click="showModal('Add')">Buat
            Todo
            List</button>

        <div v-if="succesAlert" class="alert alert-success my-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ message }}</span>
        </div>

        <div v-if="errorAlert" class="alert alert-error my-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ message }}</span>
        </div>

        <div class="max-h-97 overflow-scroll mt-3 mb-5">
            <table class="table bg-white text-black w-full max-h-screen text-center">
                <!-- head -->
                <thead class="border-2 border-black">
                    <tr>
                        <th class="border-2 border-black">No</th>
                        <th class="border-2 border-black">Todo List</th>
                        <th class="border-2 border-black">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, index) in todoList.data" :key="data.id">
                        <th class="border-2 border-black p-2">{{ index + 1 }}</th>
                        <td class="border-2 border-black">{{ data.title }}</td>
                        <td class="border-2 border-black p-2 w-72">
                            <button class="btn btn-accent" @click="showModal('Show', data)">Show</button>
                            <button class="btn btn-warning mx-3" @click="showModal('Edit', data)">Edit</button>
                            <button class="btn btn-error" @click="showModal('Delete', data)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-end">
            <div class="join">
                <button class="join-item btn bg-white text-black hover:text-white"
                    @click="fetchPage(todoList.current_page - 1)" :disabled="todoList.current_page === 1">
                    «
                </button>
                <button class="join-item btn bg-white text-black hover:text-white"
                    :class="{ 'font-bold': pageNumber === todoList.current_page }" v-for="pageNumber in todoList.last_page"
                    :key="pageNumber" @click="fetchPage(pageNumber)">
                    {{ pageNumber }}
                </button>
                <button class="join-item btn bg-white text-black hover:text-white"
                    @click="fetchPage(todoList.current_page + 1)" :disabled="todoList.current_page === todoList.last_page">
                    »
                </button>
            </div>
        </div>
    </div>

    <div v-if="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
        <div class="w-full h-full relative bg-gray-700 bg-opacity-50 flex items-center">
            <div class="bg-white relative p-4 rounded-lg shadow-lg w-fit h-max m-auto">
                <h1 class="text-black text-3xl font-bold text-center mb-7">{{ modalTitle }}</h1>
                <form @submit.prevent="handleSubmit">
                    <div v-if="modalButton != 'Delete'">
                        <div class="grid gap-2 w-96">
                            <label for="titile" class="text-black text-lg font-medium">Judul</label>
                            <input type="text" placeholder="Type here" :readonly="modalButton === 'Show'"
                                class="input input-bordered input-primary bg-gray-100 text-black" v-model="modalJudul" />
                        </div>
                        <div class="grid gap-2 mt-5 w-96">
                            <label for="desc" class="text-black text-lg font-medium">Deskripsi</label>
                            <textarea class="textarea textarea-primary bg-gray-100 text-black" placeholder="Type here"
                                v-model="modalDesc" :readonly="modalButton === 'Show'">{{ modalDesc }}</textarea>
                        </div>
                    </div>
                    <div v-if="modalButton === 'Delete'">
                        <p class="text-black">Apakah anda yakin ini menghapus todo list
                            <b class="text-xl">{{
                                modalJudul
                            }}</b>
                        </p>
                    </div>
                    <div class="mt-10 flex justify-end gap-3">
                        <button v-if="modalButton === 'Add'" type="submit"
                            class="btn btn-success hover:bg-emerald-500">Simpan</button>
                        <button v-if="modalButton === 'Edit'" type="submit"
                            class="btn btn-success hover:bg-emerald-500">Update</button>
                        <button v-if="modalButton === 'Delete'" class="btn btn-error hover:bg-red-500">Hapus</button>
                        <button class="btn bg-slate-400 hover:bg-slate-600 text-black" @click="closeModal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios'
import config from '../config.js'
import { ref, onMounted } from 'vue'

const todoList = ref({
    data: [],
    current_page: 1,
    last_page: 1
})
const isModalOpen = ref(false);
const modalTitle = ref('');
const modalJudul = ref('');
const modalDesc = ref('');
const modalButton = ref('');
const modalUuId = ref('');

const showModal = (action, data) => {
    if (action === 'Add') {
        modalTitle.value = 'Add New Todo';
        modalJudul.value = '';
        modalDesc.value = '';
        modalButton.value = 'Add';
    } else if (action === 'Show') {
        modalTitle.value = 'Show Todo';
        modalJudul.value = data.title;
        modalDesc.value = data.desc;
        modalButton.value = 'Show';
    } else if (action === 'Edit') {
        modalTitle.value = 'Edit Todo';
        modalJudul.value = data.title;
        modalDesc.value = data.desc;
        modalUuId.value = data.uuId;
        modalButton.value = 'Edit';
    } else if (action === 'Delete') {
        modalTitle.value = 'Delete Todo';
        modalJudul.value = data.title;
        modalUuId.value = data.uuId;
        modalButton.value = 'Delete';
    }

    isModalOpen.value = true;
};

const closeModal = () => {
    isModalOpen.value = false;
};

const api = axios.create({
    baseURL: config.apiUrl,
});

const fetchData = async (page = 1) => {
    const response = await api.get('/api/post', {
        params: { page }
    });
    todoList.value = response.data.result
}

onMounted(() => {
    fetchData()
});

const fetchPage = (page) => {
    if (page >= 1 && page <= todoList.value.last_page) {
        fetchData(page);
    }
};

const message = ref('')
const handleSubmit = () => {
    if (modalButton.value === 'Add') {
        addData()
    } else if (modalButton.value === 'Edit') {
        updateData()
    } else if (modalButton.value === 'Delete') {
        deleteData()
    }
    closeModal()
};

const addData = () => {
    const formData = new FormData()
    formData.append('title', modalJudul.value)
    formData.append('desc', modalDesc.value)
    api.post('/api/post', formData)
        .then(response => {
            if (response.status == 200) {
                showSuccessAlertMessage()
                message.value = response.data.message
                fetchData()
            }
        })
        .catch(error => {
            showErrorAlertMessage()
            message.value = error.response.data.message[0]
        });
}

let id = modalUuId.value

const updateData = () => {
    const updatedData = {
        title: modalJudul.value,
        desc: modalDesc.value,
    };
    api.put(`/api/post/${id}`, updatedData)
        .then(response => {
            if (response.status == 200) {
                showSuccessAlertMessage()
                message.value = response.data.message
                fetchData()
            }
        })
        .catch(error => {
            showErrorAlertMessage()
            message.value = error.response.data.message[0]
        });
}

const deleteData = () => {
    const id = modalUuId.value
    api.delete(`/api/post/${id}`)
        .then(response => {
            if (response.status == 200) {
                showSuccessAlertMessage()
                message.value = response.data.message
                fetchData()
            }
        })
        .catch(error => {
            showErrorAlertMessage()
            message.value = error.response.data.message[0]
        });
}

const succesAlert = ref(false);
const errorAlert = ref(false);
const showSuccessAlertMessage = () => {
    succesAlert.value = true;

    // Setelah 3 detik, atur showAlert kembali menjadi false
    setTimeout(() => {
        succesAlert.value = false;
    }, 3000);
};

const showErrorAlertMessage = () => {
    errorAlert.value = true;

    // Setelah 3 detik, atur showAlert kembali menjadi false
    setTimeout(() => {
        errorAlert.value = false;
    }, 3000);
};
</script>