<script setup>
import TableVue from './components/Table.vue'
</script>

<template>
  <div class="max-h-screen column md:flex items-center">
    <div class="relative m-auto flex w-1/2 justify-end items-center h-80">
      <a href="https://vitejs.dev" target="_blank">
        <img src="/vite.svg" class="logo w-48" alt="Vite logo" />
      </a>
      <a href="https://vuejs.org/" target="_blank">
        <img src="./assets/vue.svg" class="logo vue w-48" alt="Vue logo" />
      </a>
      <h1 class='absolute text-3xl font-semibold bottom-0 left-1/2 -ml-12'>Vite + Vue</h1>
    </div>

    <div class="w-full h-screen py-5">
      <TableVue />
    </div>
  </div>
</template>

<style scoped>
.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
